<div>
    <div class="allanimes">
<h2>Animes populares esta semana</h2>
<app-gallery [list]="animesWeek"></app-gallery>
    </div>
    <div>
<h2>Animes más populares en emisión</h2>
<app-gallery [list]="animesEmision"></app-gallery>
    </div>
    <div>
<h2>Animes más esperados</h2>
<app-gallery [list]="animesEsperados"></app-gallery>
    </div>
    <div>
<h2>Animes mejor evaluados</h2>
<app-gallery [list]="animesEvaluados"></app-gallery>
    </div>
    <div>
<h2>Animes más populares</h2>
<app-gallery [list]="animesPopulares"></app-gallery>
</div>
</div>